<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Alumni Fatec</title> 
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="icon" href="/image/favicon.png" />

	
	<link href="/css/style.css" rel="stylesheet" />
</head>
<body>
	<header>
		<nav class="navbar navbar-inverse navbar navbar-dark bg-dark fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="btn btn-dark navbar-toggle pull-left">
						<i class="oi oi-menu"></i>
					</button>
					<a class="navbar-brand " href="#">Alumni Fatec</a>
				</div>
			</div>
		</nav>
	</header>
	
	<div class="layout-main">	
	
		<aside>
			<nav class="sidebar sidebar-open">
				<ul class="nav nav-pills">
					<li class="nav-item"><a class="nav-link " href="/"> <i
							class="oi oi-home"></i> <span> Alumni Fatec Home</span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" >1</span></li>
					<li class="nav-item"><a class="nav-link"
						href=""> <i class="oi oi-plus"></i> <span>2</span>
					</a></li>
					<li class="nav-item"><a class="nav-link"
						href=""> <i class="oi oi-spreadsheet"></i>
							<span>3</span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" >4</span></li>
					<li class="nav-item"><a class="nav-link" 
						href=""> <i class="oi oi-plus"></i> <span>5</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" 
						href=""> <i
							class="oi oi-spreadsheet"></i> <span>6</span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active">7</span></li>
					<li class="nav-item"><a class="nav-link" 
						href=""> <i class="oi oi-plus"></i> <span>8</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" 
						href=""> <i class="oi oi-spreadsheet"></i> <span>9</span>
					</a></li>
				</ul>
			</nav>
		</aside>
			
	<section class="layout-content">
	
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>Alumni Fatec Home</span>
					</li>
				</ul>
			</div>
		</nav>
		
		<div class="container">
			<div id="list-home" class="row">
				<div class="col-4">
					<div class="list-group" id="list-tab" role="tablist">
						<a class="list-group-item list-group-item-action active"
							id="" data-toggle="list" href=""
							role="tab" aria-controls="">A</a> <a
							class="list-group-item list-group-item-action" id="list-sts-list"
							data-toggle="list" href="#sts" role="tab" aria-controls="sts">B</a> 
							<a class="list-group-item list-group-item-action"
							id="" data-toggle="list" href=""
							role="tab" aria-controls="">C</a> <a
							class="list-group-item list-group-item-action"
							id="list-webjars-list" data-toggle="list" href=""
							role="tab" aria-controls="">D</a> <a
							class="list-group-item list-group-item-action"
							id="" data-toggle="list" href=""
							role="tab" aria-controls="">E</a> <a
							class="list-group-item list-group-item-action"
							id="" data-toggle="list" href=""
							role="tab" aria-controls="bootstrap">F</a>
					</div>
				</div>
				<div class="col-8">
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id=""
							role="tabpanel" aria-labelledby="">
							<a href="">Lorem Ipsum</a>
							Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
							Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum
							Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum
							Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum
						</div>
						<div class="tab-pane fade" id="sts" role="tabpanel"
							aria-labelledby="">
							The <a href="">Lorem Ipsum</a> Lorem IpsumLorem IpsumLorem 
							IpsumLorem IpsumLorem IpsumLorem IpsumLorem
							Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum
							Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum
							Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum
						</div>
						<div class="tab-pane fade" id="" role="tabpanel"
							aria-labelledby="">
							<a href="">Lorem Ipsum</a>
							Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
							Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum
							Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum
							Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum
						</div>
						<div class="tab-pane fade" id="webjars" role="tabpanel"
							aria-labelledby="">
							<a href="">Lorem Ipsum</a>
							Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
							Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum
							Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum
							Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum
						</div>
						<div class="tab-pane fade" id="" role="tabpanel"
							aria-labelledby="">
							<a href="">Lorem Ipsum</a>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
							Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum
							Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum
							Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum
						</div>
						<div class="tab-pane fade" id="" role="tabpanel"
							aria-labelledby="">
							<a href="">Lorem Ipsum</a> Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
							Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum
							Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum
							Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</section>		
	
	</div>
		<footer class="layout-footer">
		<div class="container">
			<span class="footer-copy">2019 Alumni Fatec by @ramaria</span>
		</div>
	</footer> 

	
	</script>
</body>
</html>